/* 기존 스타일 유지 */
.App-header {
  text-align: center;
  padding: 20px;
}

.clickable {
  cursor: pointer;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2열 고정 */
  gap: 10px; /* 이미지 간의 간격 */
  overflow-y: auto;
  height: 400px; /* 원하는 높이로 조정 */
  width: 332px; /* 원하는 너비로 고정 */
  margin: 0 auto; /* 가운데 정렬 */
}

.image-item {
  width: 100%; /* 그리드 셀에 맞추기 위해 너비를 줄임 */
  height: auto;
}

/* 모바일 스타일 추가 */
@media (max-width: 768px) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .App-header {
    width: 100%;
  }

  .component-container {
    width: 100%;
    padding: 10px;
  }

  .image-container {
    grid-template-columns: repeat(2, 1fr); /* 모바일에서도 2열로 유지 */
    width: 300px; /* 모바일에서도 너비를 300px로 고정 */
  }

  .image-item {
    width: 100%;
    margin: 10px auto;
  }
}
